#logo {
    height: 40px;
}
header {
    background-color: #627264;
}
.header-text {
    color: white;
}
body {
    background-color: #EED5AE;
}
.items_boarder {
    border-color: #627264;
}
footer {
    background-color: #627264;
    min-width: 350px;
}
.footer-text {
    color: white;
    font-size: small;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}
.reference {
    text-decoration:underline;
    color: rgb(255, 255, 255);
    font-style: normal;
}

p[name="info"] {
    font-weight: 350;
}