.side_bar {
    width: 65%;
    height: 732px;
    background-image: url("design/Rectangle_1.png");
    background-size: 100% 80%;
    background-repeat: no-repeat;
    margin-top: 10%;
    margin-bottom: 50px;
    padding-top: 200px;
    padding-bottom: 550px;
    padding-left: 5%;
}
.motto {
    width: 55%;
    height: 50%;
    background-image: url("design/Rectangle 2.png");
    background-size: 100% 95%;
    background-repeat: no-repeat;
    background-position: left;
    background-repeat: no-repeat;
    margin-top: 10%;
    padding-top: 4%;
    padding-left: 80px;
}
.motto_first_line {
    color: #FFF;
    font-size: 3.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.motto_second_line {
    color: #FFF;
    font-size: 11vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 8vw ;
}
.links {
    text-decoration: none;
    color: black;
    font-size: 2.3vw;
    font-style: normal;
    font-weight: 400;
}
.reference {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
}
body {
    background-image: linear-gradient(to right, #B3001B ,#B3001B, rgb(255, 155, 4));
    font-family: 'Caveat';
    font-size: 22px;
    height: 100%;
}

.foot {
    background-image: url("design/Rectangle 3.png");
    background-repeat:repeat-x;
    position: fixed;
    bottom: 0;
    width: 100%;
}